{% load static %}

<div class="container-fluid footer_top">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-12">
        <img src="{% static 'images/icon-mobile.png' %}" >
        <p class="textoFooter">En LUDI Diagnóstico Integral creemos en futuros felices, en envejecer sanos y disfrutar todo lo que esta vida única nos ofrece. Estamos convencidos de que un Check Up de manera regular, fomenta la salud y el bienestar, y mejora tu calidad de vida.'</p>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <h4 style="text-align:left;">Contacto</h4><br>
        <p class="infoContacto">55 5545 1509</p>
        <p class="infoContacto">informes@ludi.com.mx</p>
        <p class="infoContacto">A. Musset 335 Polanco, Polanco III Secc, 11550 CDMX, Mexico</p>
        &nbsp;&nbsp;&nbsp;<i class="redesDos fab fa-facebook-f"></i>&nbsp;&nbsp;&nbsp;
        <i class="redesDos fab fa-linkedin-in"></i>&nbsp;&nbsp;&nbsp;
        <i class="redesDos fab fa-twitter"></i>&nbsp;&nbsp;&nbsp;
        <i class="redesDos fab fa-youtube"></i>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12" style="text-align:left;">
        <h4>Enlaces</h4>
          <a class="link" href="#">Prevención</a>
          <a class="link" href="#">¿Que es prevención?</a>
          <a class="link" href="#">Check Up Empresarial</a>
          <a class="link" href="#">Check Up Integral</a>
          <a class="link" href="#">Check Up Plus</a>
          <a class="link" href="#">Check Up Genetest</a>
          <a class="link" href="#">Check Up Especialidad</a>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <h4 style="text-align:center;">Publicaciones Recientes</h4>
        <ludi-carousel></ludi-carousel>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid footer_botom">
  <p>© 2017 Ludi Diagnóstico Integral | Aviso de Privacidad</p>
</div>
