{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col">
        <h1>Nosotros</h1>
    </div>
</div>

<div class="row">
    <div class="col-12 nosotros-header-container d-flex h-100">
        <h1 class="nosotros-header-title m-auto">EMPRESA LUDI</h1>
    </div>
</div>

<div class="container">

    <!--SECTION 1-->
    <div class="row">
        <div class="col-12">
            <h1 class="section-title">¿SE PUEDE CONTROLAR EL FUTURO?</h1>
        </div>

        <div class="col-12 col-md-6">
            <img class="mb-4" src="{% static 'images/ludi.png' %}">
            <p>En LUDI Diagnóstico Integral creemos en futuros felices, en envejecer sanos y disfrutar todo lo que esta
                vida
                única nos ofrece. Estamos convencidos de que un Check Up de manera regular, fomenta la salud y el
                bienestar,
                y mejora tu calidad de vida.</p>
            <p>Somos una empresa dedicada a realizar estudios que informan, previenen y detectan
                enfermedades oportunamente para evitar problemas de salud. Para lograrlo, nos regimos bajo estrictos
                estándares
                de profesionalismo y calidad, nos apoyamos en un equipo de médicos y paramédicos competentes y
                certificados en
                diversas especialidades; en cómodas instalaciones extra hospitalarias con los más altos niveles de
                tecnología.</p>
        </div>

        <div class="col-12 col-md-6">
            <img class="w-100" src="{% static 'images/nosotros/02.png' %}">
        </div>
    </div>

    <!--SECTION 2-->
    <div class="row">

        <div class="col-12">
            <h1 class="section-title">¿POR QUÉ LUDI?</h1>
        </div>

        <div class="col-12 col-md-4 text-center">
            <i class="fas fa-users green-circle-icon m-3"></i>
            <h5 class="">Experiencia</h5>
            <p>Contamos con más de 20 años de experiencia y más de 100,000 Check Ups realizados, detectando el estado de
                salud
                de cada una de las personas que pone en nuestras manos su bienestar.</p>
        </div>

        <div class="col-12 col-md-4 text-center">
            <i class="fas fa-star green-circle-icon m-3"></i>
            <h5 class="">Calidad</h5>
            <p>Nos distinguimos por ofrecer atención personalizada, resultados confiables y entrega oportuna de los
                mismos.
                Además de garantizar resultados de calidad, ya que contamos con un equipo de trabajo que no sólo domina
                su área
                profesional, sino que también busca capacitarse y actualizarse de manera continua.</p>
        </div>

        <div class="col-12 col-md-4 text-center">
            <i class="fas fa-cubes green-circle-icon m-3"></i>
            <h5 class="">Tecnología</h5>
            <p>En LUDI contamos con los equipos más avanzados para asegurar la confiabilidad en las mediciones de las
                valoraciones médicas de especialidad y los estudios de Laboratorio, Rayos X, Ultrasonografía y Gabinete
                que
                apoyan el diagnóstico final.</p>
        </div>

    </div>

</div>

<div class="container-fluid green-section">
    <!--SECTION 3-->
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="m-5">CÓDIGO DE ÉTICA</h1>

                <h4>RESPONSABILIDAD DE LUDI HACIA LA COMUNIDAD</h4>
                <p class="m-5">Llevar a cabo nuestras actividades siempre con la finalidad de elevar el nivel de
                    bienestar de la
                    comunidad,
                    logrando un México más sano, con un futuro más brillante.</p>

                <h4>RESPONSABILIDAD DE LUDI HACIA SUS COLABORADORES</h4>
                <p class="m-5">Para LUDI cada colaborador y asociado supone la base y fundamento de su existencia y
                    logro de
                    objetivos. Por
                    ello, trabajamos todos los días para promover su mejor desarrollo, tanto personal como profesional,
                    con el
                    fin de contar con personas éticas, íntegras, respetuosas, responsables y sobre todo, humanas, que se
                    preocupan
                    por su comunidad.</p>

                <h4>RESPONSABILIDAD DE LUDI HACIA SUS CLIENTES</h4>
                <p class="m-5">Todos los clientes de LUDI gozarán de prácticas éticas y transparentes con un trato
                    digno,
                    respetuoso, honesto y
                    empático a sus requerimientos, por todos y cada uno de nosotros, de manera consistente.</p>
            </div>
        </div>
    </div>

</div>
<div class="container">

    <div class="row">
        <div class="filosofias m-3 p-0">
            <div class="orange-overlay">
                <h4 m-auto>CALIDAD</h4>
            </div>
        </div>

        <div class="filosofias m-3 p-0">


        </div>

        <div class="filosofias m-3 p-">
            <div class="orange-overlay">
                <h4 m-auto>CALIDAD</h4>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="wrapper">
        <div class="col_third">
            <div class="hover panel">
                <div class="front">
                    <div class="box1">
                        <p>Front Side</p>
                    </div>
                </div>
                <div class="back">
                    <div class="box2">
                        <p>Back Side</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col_third">
            <div class="hover panel">
                <div class="front">
                    <div class="box1">
                        <p>Front Side</p>
                    </div>
                </div>
                <div class="back">
                    <div class="box2">
                        <p>Back Side</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col_third end">
            <div class="hover panel">
                <div class="front">
                    <div class="box1">
                        <p>Front Side</p>
                    </div>
                </div>
                <div class="back">
                    <div class="box2">
                        <p>Back Side</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
