{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid sectionOneNosotross"><h1>EMPRESA LUDI</h1></div>

    <!--SECTION 1-->
    <div class="container-fluid sectionTwoNosotross">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
              <h1>¿SE PUEDE CONTROLAR EL FUTURO?</h1>
          </div>

          <div class="col-md-6">
              <img class="mb-4" src="{% static 'images/ludi.png' %}">
              <p>En LUDI Diagnóstico Integral creemos en futuros felices, en envejecer sanos y disfrutar todo lo que esta
                  vida
                  única nos ofrece. Estamos convencidos de que un Check Up de manera regular, fomenta la salud y el
                  bienestar,
                  y mejora tu calidad de vida.</p>
              <p>Somos una empresa dedicada a realizar estudios que informan, previenen y detectan
                  enfermedades oportunamente para evitar problemas de salud. Para lograrlo, nos regimos bajo estrictos
                  estándares
                  de profesionalismo y calidad, nos apoyamos en un equipo de médicos y paramédicos competentes y
                  certificados en
                  diversas especialidades; en cómodas instalaciones extra hospitalarias con los más altos niveles de
                  tecnología.</p>
          </div>

          <div class="col-md-6">
              <img class="w-100" src="{% static 'images/nosotros/02.png' %}">
          </div>
        </div>
      </div>
    </div>

    <!--SECTION 2-->
    <div class="container-fluid sectionThreeNosotross">
      <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="section-title">¿POR QUÉ LUDI?</h1>
            </div>
            <div class="col-12 col-md-4 text-center">
                <i class="fas fa-users green-circle-icon m-3"></i>
                <h5 class="">Experiencia</h5>
                <p>Contamos con más de 20 años de experiencia y más de 100,000 Check Ups realizados, detectando el estado de
                    salud
                    de cada una de las personas que pone en nuestras manos su bienestar.</p>
            </div>
            <div class="col-12 col-md-4 text-center">
                <i class="fas fa-star green-circle-icon m-3"></i>
                <h5 class="">Calidad</h5>
                <p>Nos distinguimos por ofrecer atención personalizada, resultados confiables y entrega oportuna de los
                    mismos.
                    Además de garantizar resultados de calidad, ya que contamos con un equipo de trabajo que no sólo domina
                    su área
                    profesional, sino que también busca capacitarse y actualizarse de manera continua.</p>
            </div>
            <div class="col-12 col-md-4 text-center">
                <i class="fas fa-cubes green-circle-icon m-3"></i>
                <h5 class="">Tecnología</h5>
                <p>En LUDI contamos con los equipos más avanzados para asegurar la confiabilidad en las mediciones de las
                    valoraciones médicas de especialidad y los estudios de Laboratorio, Rayos X, Ultrasonografía y Gabinete
                    que
                    apoyan el diagnóstico final.</p>
            </div>
        </div>
      </div>
    </div>



<div class="container-fluid green-section">
    <!--SECTION 3-->
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="m-5">CÓDIGO DE ÉTICA</h1>

                <h3>RESPONSABILIDAD DE LUDI HACIA LA COMUNIDAD</h3>
                <p class="m-5">Llevar a cabo nuestras actividades siempre con la finalidad de elevar el nivel de
                    bienestar de la
                    comunidad,
                    logrando un México más sano, con un futuro más brillante.</p>

                <h3>RESPONSABILIDAD DE LUDI HACIA SUS COLABORADORES</h3>
                <p class="m-5">Para LUDI cada colaborador y asociado supone la base y fundamento de su existencia y
                    logro de
                    objetivos. Por
                    ello, trabajamos todos los días para promover su mejor desarrollo, tanto personal como profesional,
                    con el
                    fin de contar con personas éticas, íntegras, respetuosas, responsables y sobre todo, humanas, que se
                    preocupan
                    por su comunidad.</p>

                <h3>RESPONSABILIDAD DE LUDI HACIA SUS CLIENTES</h3>
                <p class="m-5">Todos los clientes de LUDI gozarán de prácticas éticas y transparentes con un trato
                    digno,
                    respetuoso, honesto y
                    empático a sus requerimientos, por todos y cada uno de nosotros, de manera consistente.</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid sectionFiveNosotross">
  <h1>FILOSOFÍAS</h1>
  <div class="container">
      <div class="row">
          <div class="col-md-4 calidad" id="cali">
            <div class="orange"></div>
            <h4 class="calid">CALIDAD</h4>
            <p class="calidText">Nuestros módulos de capacitación van más allá de los avances médicos, también tocan temas relacionados con el trato humano, la empatía y la ética. En un mundo que se reinventa y avanza a gran velocidad en el campo científico y tecnológico, esta es la única manera de garantizar servicios de excelencia.</p>
          </div>
          <div class="col-md-4 competencia" id="compe">
            <div class="orange"></div>
            <h4 class="competen">COMPETENCIA</h4>
            <p class="competenText"><strong>Todos hablan de calidad, nosotros la certificamos.</strong> LUDI es la primera y única Unidad de Diagnóstico Certificada en ISO 9001:2008 en México, lo que garantiza procesos homogéneos y el compromiso de sus colaboradores con la mejora continua, la eficiencia y la innovación permanente, siempre enfocados a dar un servicio de excelencia.</p>
          </div>
          <div class="col-md-4 privacidad" id="priv">
            <div class="orange"></div>
            <h4 class="priva">PRIVACIDAD</h4>
            <p class="privaText" style="top:35%;">Ludi se preocupa por cuidar de tus datos personales, por lo cual ha creado un departamento de privacidad de datos. Conoce nuestro </p>
          </div>
      </div>
  </div>
</div>

<div class="container-fluid sectionSixNosotros">
  <h1>NUESTRAS INSTALACIONES</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <img src="http://ludi.com.mx/wp-content/uploads/2017/11/instalaciones-24.jpg" alt="">
      </div>
      <div class="col-md-3">
        <img src="http://ludi.com.mx/wp-content/uploads/2017/11/instalaciones-23.jpg" alt="">
      </div>
      <div class="col-md-3">
        <img src="http://ludi.com.mx/wp-content/uploads/2017/11/instalaciones-22.jpg" alt="">
      </div>
      <div class="col-md-3">
        <img src="http://ludi.com.mx/wp-content/uploads/2017/11/instalaciones-21.jpg" alt="">
      </div>
      <div class="col-md-3">
        <img src="http://ludi.com.mx/wp-content/uploads/2017/11/instalaciones-20.jpg" alt="">
      </div>
      <div class="col-md-3">
        <img src="http://ludi.com.mx/wp-content/uploads/2017/11/instalaciones-19.jpg" alt="">
      </div>
      <div class="col-md-3">
        <img src="http://ludi.com.mx/wp-content/uploads/2017/11/instalaciones-18.jpg" alt="">
      </div>
      <div class="col-md-3">
        <img src="http://ludi.com.mx/wp-content/uploads/2017/11/instalaciones-17.jpg" alt="">
      </div>
      <div class="col-md-3">
        <img src="http://ludi.com.mx/wp-content/uploads/2017/11/instalaciones-16.jpg" alt="">
      </div>
      <div class="col-md-3">
        <img src="http://ludi.com.mx/wp-content/uploads/2017/11/instalaciones-15.jpg" alt="">
      </div>
      <div class="col-md-3">
        <img src="http://ludi.com.mx/wp-content/uploads/2017/11/instalaciones-11.jpg" alt="">
      </div>
      <div class="col-md-3">
        <img src="http://ludi.com.mx/wp-content/uploads/2017/11/instalaciones-10.jpg" alt="">
      </div>
      <div class="col-md-3">
        <img src="http://ludi.com.mx/wp-content/uploads/2017/11/instalaciones-09.jpg" alt="">
      </div>
      <div class="col-md-3">
        <img src="http://ludi.com.mx/wp-content/uploads/2017/11/instalaciones-08.jpg" alt="">
      </div>
      <div class="col-md-3">
        <img src="http://ludi.com.mx/wp-content/uploads/2017/11/instalaciones-07.jpg" alt="">
      </div>
      <div class="col-md-3">
        <img src="http://ludi.com.mx/wp-content/uploads/2017/11/instalaciones-04.jpg" alt="">
      </div>
      <div class="col-md-3">
        <img src="http://ludi.com.mx/wp-content/uploads/2017/11/instalaciones-03.jpg" alt="">
      </div>
      <div class="col-md-3">
        <img src="http://ludi.com.mx/wp-content/uploads/2017/11/instalaciones-02.jpg" alt="">
      </div>
      <div class="col-md-3">
        <img src="http://ludi.com.mx/wp-content/uploads/2017/11/instalaciones-01.jpg" alt="">
      </div>
    </div>
  </div>
</div>
<div class="items">
  <div class="item"><img src="http://ludi.com.mx/wp-content/uploads/2017/11/cliente-pearson-b.png" alt=""></div>
  <div class="item"><img src="http://ludi.com.mx/wp-content/uploads/2017/11/cliente-penoles-b.png" alt=""></div>
  <div class="item"><img src="http://ludi.com.mx/wp-content/uploads/2017/11/cliente-prosa-b.png" alt=""></div>
  <div class="item"><img src="http://ludi.com.mx/wp-content/uploads/2017/11/cliente-radioshack-b.png" alt=""></div>
  <div class="item"><img src="http://ludi.com.mx/wp-content/uploads/2017/11/cliente-walmart-b.png" alt=""></div>
  <div class="item"><img src="http://ludi.com.mx/wp-content/uploads/2017/11/cliente-basf-b.png" alt=""></div>
  <div class="item"><img src="http://ludi.com.mx/wp-content/uploads/2017/11/cliente-chep-b.png" alt=""></div>
  <div class="item"><img src="http://ludi.com.mx/wp-content/uploads/2017/11/cliente-consorcio-ara-b.png" alt=""></div>
  <div class="item"><img src="http://ludi.com.mx/wp-content/uploads/2017/11/cliente-gas-natural-b.png" alt=""></div>
  <div class="item"><img src="http://ludi.com.mx/wp-content/uploads/2017/11/cliente-gemalto-b.png" alt=""></div>
  <div class="item"><img src="http://ludi.com.mx/wp-content/uploads/2017/11/cliente-Iberdrola-b.png" alt=""></div>
  <div class="item"><img src="http://ludi.com.mx/wp-content/uploads/2017/11/cliente-ipade-b.png" alt=""></div>
</div>
<div class="container-fluid backk">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <img class="img" src="http://ludi.com.mx/wp-content/uploads/2017/11/boletines-03.png" alt="">
      </div>
      <div class="col-md-8 col-sm-6 form">
        <h1 class="h1Boletines">SUSCRIPCIÓN A BOLETINES</h1>
        <p class="pBoletines">Inscríbete a nuestro newsletter y obtén 10% de descuento en tu primer Check Up anual.</p>
        <form class="" action="" method="post">
          <input type="email" name="email" value="" placeholder="Ingresa tu correo*">
          <input class="submit" type="submit" name="enviar" value="Enviar">
        </form>
        <br>
        <p class="p">El envío del formulario supone la aceptación del aviso legal</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
