
/*

1. Header

2. Footer

*/


/* HEADER STARTS */

body{
  margin: 0;
  padding: 0;
}
.container-fluid{
  padding-left: 0;
  padding-right: 0;
}
.area{
  float: right;
  margin-right: 5%;
}
.reloj{
  width: 10%;
  height: 10%;
  margin-right:10px;
  margin-top: -10px;
}
.icon{
  width: 150px;
  height: 70px;
  margin-top: 10px;
  margin-left: 6%;
}
.pri-info{
  margin-right: 8%;
  font-size: 12px;
  text-align: right;
  color: #a7a7a7;
}
.sec-info{
  color: #131313;
  margin-right: 15px;
  font-size: 14px;
}
.agen{
  border-color: #a7a7a7;
  color: #bfd000;
  font-weight: 600;
  height: 35px;
  margin-top: 5px;
  padding-top: 5px;
}
.agen:hover{
  background-color: #bfd000;
  color: #fff;
  border-color: #bfd000;
}
.nav{
  background: #ffb3b3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #ff1085,#ff4b37,#e5920a );  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #ff1085,#ff4b37,#e5920a ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
ul li .nav-link{
  color:#ffffff;
  font-family: 'Open Sans condensed',sans-serif;
  font-weight: 600;
  font-size: 22px;
}
.dropdown-menu{
  background: #ffb3b3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ff1085,#ff4b37,#e5920a );  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ff1085,#ff4b37,#e5920a ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.dropdown-item{
  color:#ffffff;
  font-family: 'Open Sans condensed',sans-serif;
  font-weight: 700;
  font-size: 14px;
}
.dropdown-item:hover{
  background: #ffb3b3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ff1085,#ff4b37,#e5920a );  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ff1085,#ff4b37,#e5920a ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.iconResponsive{
  display: none;
}
.redes{
  cursor: pointer;
}
.redes:hover{
  color: #bfd000;
}
@media only screen and (max-width: 1000px) {
    .respo{
      display: none;
    }
    .iconResponsive{
      display: block;
      width: 100px;
      height: 100px;
      z-index: 2000;
      margin-right: 50%;
    }
}
@media only screen and (max-width: 1500px) {
    .contenedor{

    }
}

/* HEADER ENDS */


/* FOOTER STARTS */

.footer_top{
  padding: 50px;
  background: #ffb3b3;
  background: -webkit-linear-gradient(160deg, #bfd000 0%,#ff6611 50%,#ff0099 100% );
  background: linear-gradient(160deg, #bfd000 0%,#ff6611 50%,#ff0099 100% );
}


.textoFooter{
  color: white;
  margin-top: 40px;
  text-align: justify;
}

h4  {
  padding: 10px;
  color: white;
}

.infoContacto{
  color: white;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  padding-left: 10px;
  text-align: justify;
}

.link{
  color: white;
  font-size: 17px;
  display: inline-block;
  padding: 10px;
}
.link:hover{
  color:#bfd000;
}

.footer_botom{
  height: 6vh;
  text-align: center;
  color: white;
  font-size: 12px;
  padding: 15px;
background: #ffb3b3;  /* fallback for old browsers */
background: -webkit-linear-gradient(135deg, #ff6118 0%,#ff3553 50%,#ff0099 100% );  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(140deg, #ff6118 0%,#ff3553 50%,#ff0099 100% ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.redes{
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
}
.redes:hover{
  color: #bfd000;
}

/* FOOTER ENDS */


/* HOME */
.d-block{
  height: 65vh;
  width: 100%;
}
.carousel-caption h5{
  color:#bfd000;
  font-weight: 700;
  font-size: 54px;
}
.carousel-caption p{
  color:#bfd000;
  font-weight: 700;
  font-size: 24px;
}
.btn-carousel{
  background-color: #ffffff;
  color: #ff6611;
  font-weight: 700;
  font-size: 18px;
  font-family: 'Open Sans ',sans-serif;
}
.btn-carousel:hover{
  background-color: #ff6611;
  color: #ffffff;
}

.sectionTwo{
  background-image: url(http://ludi.com.mx/wp-content/uploads/2017/11/home-prevencion-2.jpg);
  padding-top: 60px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 80px;
  width: 100%;
}
.sectionTwo h1{
  text-align: center;
  color: #333;
  font-weight: 700;
}
.sectionTwo h2{
  text-align: center;
  color: #333;
  margin-top: 20px;
  font-size:1.3rem;
}
.sectionTwo div{
  margin-top: 100px;
  margin-left: 50%;
  width: 40%;
}
.sectionTwo div h3{
  text-align: center;
  color: #666;
}
.sectionTwo div ul{
  margin-top: 40px;
}
.sectionTwo div ul li{
  color: #262626;
  margin-top: 20px;
  font-weight: 400;
}
.conocemas{
  margin-left: 30%;
  background-color: #bfd000;
  color: #fff;
  font-weight: 700;
  padding: 10px;
  font-family: 'Open Sans ',sans-serif;
  width:35%;
}
.conocemas:hover{
  background-color:  #a4b300;
}
@media only screen and (max-width:700px) {
  .sectionTwo div{
    margin-left: 0;
    width: 100%;
  }
}

.down h4{
  color:#666;
  font-weight: 700;
}
.down p{
  color:#666;
  font-size: 18px;
}

.color{
  background-color: #f5f5f5;
  margin-top: -20px;
  padding-top: 100px;

}
.color h1{
  text-align: center;
  font-weight: 600;
}
.color h2{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.size{
  margin-left: 15%;
  width: 70%;
  max-width: 1700px;
  padding-top: 20px;
  padding-bottom: 50px;
}
.img-size{
  width: 100%;
  margin-top: 50px;
}
.icon-size{
  width: 60px;
  height: 70px;
}
.detalle{
  background-color: #bfd000;
  color: #fff;
  font-weight: 700;
  padding: 5px 15px;
  font-family: 'Open Sans ',sans-serif;
}
.detalle:hover{
  background-color:  #a4b300;
}

.sectionFour{
  background-color: #bfd000;
  padding-top: 80px;
  padding-bottom: 80px;
}
.sectionFour h1{
  text-align: center;
  font-weight: 600;
  color: #fff;
}
.sectionFour h2{
  text-align: center;
  margin-top: 20px;
  color: #fff;
}
.img{
  width: 100%;
}
.margin{
  padding-top: 40px;
}
.info h2{
  text-align: left;
  font-weight: 600;
  color: #fff;
  line-height: 35px;
  font-style: normal;
}
.info p{
  text-align: left;
  font-weight: 600;
  color: #fff;
}
.conoceFour{
  background-color: #fff;
  color: #ff782d;
  font-family: 'Open Sans ',sans-serif;
  font-weight: 600;
  padding: 15px 15px;
  margin-top: 10px;

}
.conoceFour:hover{
  opacity: 0.8;
}

.back{
  background-image: url(http://ludi.com.mx/wp-content/uploads/2017/11/bg-testimonios-2.jpg);
  padding-top: 180px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 180px;
  width: 100%;
  height: auto;
}
.frases{
  width: 80%;
  margin-left: 10%;
}
.colorIcon{
  color: #bfd000;
}
.test{
  color: #333;
  text-align: center;
  font-weight: 700;
  margin-bottom: 40px;
}

.quoteLeft{
  font-size: 55px;
  color: #ccc;
  text-align: center;
}

.quoteRight{
  font-size: 55px;
  color: #ccc;
  text-align: center;
}
.frasesp{
  color: #111;
  line-height: 1.666666666666667em;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}
.frasesptwo{
  color: #111;
  line-height: 1.666666666666667em;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}
.frasesptwo span{
  color: #bfd000;
}

.color{
  background-color: #f5f5f5;
  padding-top: 50px;
  padding-bottom: 50px;
}

.img{
  width: 100%;
}
.contenedor{
  background-color: #ffffff;
  margin-left: 5px;
  padding-bottom: 20px;
}
.contenedor h3{
  margin-top: 10px;
  margin-left: 10px;
  font-family: 'Open Sans Condensed',sans-serif;
  font-weight: 600;
  color: #666;
  font-size: 24px;
}
.hr{
  width: 20px;
  height: 2px;
  background-color: #666;
  margin-left: 10px;
}
.contenedor p{
  margin-top: 10px;
  margin-left: 10px;
  font-family: 'Open Sans Condensed',sans-serif;
  color: #666;
  font-size: 18px;
}
.logo{
  width: 40px;
  height: 30px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.fecha{
  font-size: 10px;
  float: right;
  margin-right: 10px;
  margin-top: 10px;
}
.user{
  font-size: 10px;
  margin-left: 10px;
}
.blog{
  margin-left: 45%;
  background-color: #bfd000;
  color: #fff;
  font-weight: 600;
  padding: 20px;
  margin-top: 50px;
}
.blog:hover{
  background-color:  #a4b300;
}

.backk{
  background-color: #bfd000;
  padding-top: 20px;
  padding-bottom: 30px;
}

.form{
  text-align: center;
  color: white;
}

.form form input{
  border:none;
  border-radius: 5px;
  width: 100%;
  padding: 5px;
  padding-left: 10px;
  font-size: 14px;
}

.submit{
  background-color: #f61;
  margin-top: 15px;
  color: white;
  padding: 8px;
  cursor: pointer;
}

.p{
  font-size: 12px;
}

.items{
  overflow-x: hidden;
  overflow-y: hidden;
  height: auto;
  padding-bottom: 30px;
  width: 100%;
  white-space: nowrap;
  user-select: none;
  transition: all 0.2s;
  position: relative;
}
.item{
    display: inline-block;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0.8;
}
.item:hover{
  opacity: 1;
}


/* promociones */
.promocionesColor{
  padding-top: 80px;
  padding-bottom: 80px;
}
.promocionesColor h1{

  font-size: 45px;
  line-height: 35px;
  margin-bottom: 50px;
  margin-top: 20px;
  text-align: center;
}


.infoPromociones h2{
    color: #666;
    font-size: 25px;
    line-height: 35px;
    font-style: normal;
    text-align: center;
}
.infoPromociones p{
    color: #666;
    font-size: 16px;
    line-height: 35px;
    font-style: normal;
    text-align: center;
}
.infoPromociones {
    margin-left: 30%;
    background-color: #bfd000;
    color: #fff;
    font-weight: 600;
    padding: 20px;
    border: none;
    cursor: pointer;
}

.infoPromociones button:hover{
  background-color:  #a4b300;
}
.promocionesColor{
  padding-bottom: 100px;
}

/* promociones */

.color h2{
  text-align:center;
  padding-bottom:30px;
}
.promocionesForm p{
  margin-top: 20px;
  text-align:center;
  font-family: 'Open Sans Condensed',sans-serif;
  font-weight:600;
  padding-bottom:10px;
  color: #666;
}
.promocionesForm input{
  margin-left: 5%;
  margin-top: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  font-size: 12px;
  color: #818181;
  border: 1px solid #818181;
}
.promocionesForm select{
  margin-left: 5%;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  font-size: 12px;
  color: #818181;
  border: 1px solid #818181;
}
.boton{
  margin-left: 5%;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ccc;
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
}
.boton:hover{
  background-color: #f61;
}
.promocionesForm textarea{
  max-height: 250px;
  height: 20vh;
  margin-top: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  font-size: 12px;
  color: #818181;
  border: 1px solid #818181;
}
.enviar{
  margin-left: 45%;
  background-color: #bfd000;
  color: #fff;
  font-weight: 600;
  padding: 20px 30px;
  margin-top: 10px;
  border: none;
  border-radius: 2px;
  margin-top: 20px;
}
.enviar:hover{
  background-color:  #a4b300;
}
.politica{
  color:#bfd000;
  cursor: pointer;
  text-decoration: none;
}
.politica:hover{
  color: #f61;
}

@media only screen and (max-width: 1000px) {
    .promocionesForm input{
      margin-right: 5%;
    }
    .promocionesForm select{
      margin-right: 5%;
    }
    .promocionesForm button{
      margin-right: 5%;
    }
}

/* empresas */


.sectionEmpresa{
  background-image: url(http://ludi.com.mx/wp-content/uploads/2017/11/check-up-empresarial-bgtop.jpg);
  padding-top: 60px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 80px;
  width: 100%;
}
.infoEmpresa{
  margin-bottom: 30px;
  margin-top: -20px;
}
.infoEmpresa h1{
  font-size: 24px;
  color: #fff;
  text-align: center;
}
.infoEmpresa h2{
  font-size: 36px;
  color: #fff;
  text-align: center;
}
.infoEmpresa h3{
  font-size: 18px;
  color: #fff;
  text-align: center;
}
.infoEmpresa h4{
  font-size: 26px;
  color: #fff;
  text-align: center;
}
.infoEmpresa P{
  font-size: 16px;
  color: #fff;
  text-align: center;
}

.formEmpresa input{
  margin-left: 5%;
  margin-top: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  font-size: 12px;
  color: #818181;
  border: 1px solid #818181;
}
.formEmpresa select{
  margin-left: 5%;
  margin-top: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  font-size: 12px;
  color: #818181;
  border: 1px solid #818181;
}
.formEmpresa textarea{
  margin-top: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  font-size: 12px;
  color: #818181;
  border: 1px solid #818181;
  max-height: 200px;
}
.botomEmpresa{
  color: #fff;
  font-family: 'Open Sans Condensed',sans-serif;
  background-color: #bfd000;
  border-right: 2px;
  margin-left: 45%;
  margin-top: 25px;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 18px;
}
.botomEmpresa:hover{
  background-color: #a4b300;
}

.formEmpresa p{
  color: #fff;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}
.formEmpresa p span:hover{
  color: #bfd000;
  cursor: pointer;
}
.buttonResponsive{
  display: none;
}
.buttonResponsive{
  color: #bfd000;
  font-family: 'Open Sans Condensed',sans-serif;
  background-color: #fff;
  border-right: 2px;
  margin-left: 35%;
  margin-top: 25px;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 18px;
}
.buttonResponsive:hover{
  background-color:#bfd000;
  color: #fff;
}

@media only screen and (max-width: 1000px) {
    .formResponsive{
      display: none;
    }
    .buttonResponsive{
      display: block;
    }
}
